## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/
.idea


*.iml
modules.xml
*.ipr

### Java ###
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*
